*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remplace la body */
.container{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Les contoures du formulaire */
.form{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    
}

/* Le haut de texte */
.mb{
    background-color: rgba(68, 13, 197, 1);
    width: 50%;
    height: 76.5vh;
    position: absolute;
    left: 51%;
    transform: translateY(-70.6%);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
     
}
/* Première fois ? */
.pb{
    text-align: center;
    color: white;
    position: absolute;
    top: 7%;
    left: 15%;
    font-family: Montserrat black;
    font-size: 25px;
}

/* Les zones de texte et leurs label */
.sii{
    font-family: 'montserrat black';
    margin-left: 70px;
    top: 10vh;
}
.frm{
    margin-top: 25px;
    width: fit-content;
}

/* Icones et zones de textes */
.up{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.upa{
    display: flex;
    margin-left: 20px;
}

/* Les zones de textes seules */
#Ide{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border: transparent;
    border-bottom: solid black;
    
}
#Motdep{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border: transparent;
    border-bottom: solid black;
}

/* Les icones de Id et Mdp */
.fa-solid{
    margin-top: 8px;
    border-bottom: solid black;
    padding-bottom: 5px;
}

/* Les boutons SC et RT */
#sc{
    border: solid black;
    border-radius: 1em;
    margin-left: 25px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(68, 13, 197, 1);
    color: white;
    text-transform: uppercase;
    font-family: montserrat black;
    letter-spacing: 2px;

}
#rt{
    border: solid transparent;
    position: relative;
    transform: translateY(-590%);
    font-size: 20px;
    background-color: rgba(68, 13, 197, 0);
    padding: 10px;
    border-radius: 50%;
}

/* Les autres options de login */
.logop{
margin-top: 70px;
text-align: center;
    
}
.fab{
    padding: 10px;
    border-style: groove;
    border-color: white;
    color: white;
    border-radius: 1em;
}

/* message pour les connexions */
.msg{
    font-family: monospace;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

/* Sign Up boutton */
.si{
    border: solid black;
    border-radius: 1em;
    margin-left: 50px;
    margin-top: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    color: rgba(68, 13, 197, 1);
    text-transform: uppercase;
    font-family: montserrat black;
    letter-spacing: 2px;
}

/* #modp{
    margin-top: px;
    position: relative;
    right: 15px;
} */

.dpad{
    position: absolute;
    top: 70%;
    font-family: monospace; 
}

/* .right{
    border: solid red;
} */


